<!DOCTYPE HTML>
<html>
    <head>
        <title>GGLeap GCM</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="index.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form class="card user-login" action="#" th:action="@{/usrLogin}" th:object="${usrLogin}" method="post">
                <div class="card--header">
                    <p class="title">Hello, Gamer!</p>
                </div>
                <div class="card--body">
                    <label>Email</label><input type="text" th:name="usr_email" required>
                    <label>Password</label><input type="password" th:name="usr_pwd" required>
                </div>
                <div class="card--footer">
                    <button type="submit" id="signup" class="btn_sign-up">login</button>
                </div>
            </form>
            <!-- <form class="card emp-login" action="#" th:action="@{/empLogin}" th:object="${empLogin}" method="post">
                <div class="card--header">
                    <p class="title">Hello, Admin!</p>
                </div>
                <div class="card--body">
                    <label>Employee ID</label><input type="number" th:field="*{id}" required>
                </div>
                <div class="card--footer">
                    <button type="submit" id="signup" class="btn_sign-up">login</button>
                </div>
            </form> -->
          </div>
    </body>
</html>