<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head> 
        <title>GGLeap User Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="index.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container logged">
            <h1 class="title" th:text="'Hey! ' + ${usr.p_name}" style="margin-top: 50px;"></h1>
            <div class="card logged-card">
                <div class="card--header">
                    <h2 style="text-align: center;">Games You Own</h2>
                </div>
                <div class="card--body">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Game Id</th>
                                <th scope="col">Game Name</th>
                                <th scope="col">Game Price</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="o : ${owns}">
                                <td th:text="${o.g_id}"></td>
                                <td th:text="${o.g_name}"></td>
                                <td th:text="${o.g_price}"></td>
                                <td><a class="btn_sign-up" th:href="@{/delGame/{id}(id = ${o.g_id})}">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card logged-card">
                <div class="card--header">
                    <h2 style="text-align: center;">Games To Buy</h2>
                </div>
                <div class="card--body">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Game Id</th>
                                <th scope="col">Game Name</th>
                                <th scope="col">Game Price</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="game : ${games}">
                                <td th:text="${game.g_id}"></td>
                                <td th:text="${game.g_name}"></td>
                                <td th:text="${game.g_price}"></td>
                                <td><a class="btn_sign-up" th:href="@{/buyGame/{id}(id = ${game.g_id})}" method="get">Buy</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card logged-card">
                <div class="card--header">
                    <h2 style="text-align: center;">Packages available to Buy</h2>
                </div>
                <div class="card--body">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Package Name</th>
                                <th scope="col">Package Price</th>
                                <th scope="col">Package Hours</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pkg : ${pkgs}">
                                <td th:text="${pkg.pkg_name}"></td>
                                <td th:text="${pkg.pkg_price}"></td>
                                <td th:text="${pkg.pkg_hours}"></td>
                                <td><button class="btn_sign-up">Buy</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a style="margin-top: 20px; margin-bottom: 20px;" class="btn_sign-up" href="/">Logout</a>
        </div>
    </body>
</html>